<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" style="background: #2B2B2B">
      <button mat-button (click)="sidenav.toggle()" style="color: white; margin: 25px;margin-top: 15px;"><mat-icon>fastfood</mat-icon></button>
      <mat-list>
          <mat-list-item>
            <a [routerLink]="['/client/list']"><span>Cliente</span></a>
          </mat-list-item>
          <mat-list-item>
            <a [routerLink]="['/item/list']"><span>Insumos</span></a>
          </mat-list-item>
      </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-button *ngIf="!sidenav.opened" (click)="sidenav.toggle()"><mat-icon>fastfood</mat-icon></button>
      Restaurante
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

